
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <ul><li>@Html.ActionLink("Личные данные", "Index", "OwnPagePatient")</li>
            <li>@Html.ActionLink("Амбулаторная карта", "Index", "OwnPagePatient")</li>
            <li>@Html.ActionLink("Стоматологическая карта", "Index", "OwnPagePatient")</li>
            <li>@Html.ActionLink("Чат", "Index", "OwnPagePatient")</li>
            <li>@Html.ActionLink("Рекомендации", "Index", "OwnPagePatient")</li>
            <li>@Html.ActionLink("Напоминания", "Index", "OwnPagePatient")</li>
            <li>@Html.ActionLink("Календарь развития ребенка", "Index", "OwnPagePatient")</li></ul>
    </div>
    <div class="col-md-9 col-md-offset-3">
        <div class="row"><div class="col-md-3"><img alt="Личное фото" class="personalPhoto" /></div></div>
       
    </div>
</div>

