@model IEnumerable<DentalConsultingData.Article>

@{
    ViewBag.Title = "Список статей";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список статей</h2>

<p>
    @Html.ActionLink("Добавить статью", "CreateArticle")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleContent.ArticleText)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleContent.ArticleText)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "EditArticle", new { id=item.ArticleID }) |
            @*@Html.ActionLink("Подробно", "DetailsArticle", new { id=item.ArticleID }) |*@
    @Html.ActionLink("Удалить", "DeleteArticle", new { id=item.ArticleID })
        </td>
    </tr>
}

</table>
