@model IEnumerable<DentalConsultingData.Article>

@{
    ViewBag.Title = "GetArticles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetArticles</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArticleContent.ArticleText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleContent.ArticleText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleTitle)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ArticleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArticleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArticleID })*@
        </td>
    </tr>
}

</table>
