@model DentalConsultingData.DentalCard

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DentalCard</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Причина обращения, жалобы", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Reason, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Общее состояние здоровья", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.GeneralStateOfHealth, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.GeneralStateOfHealth, "", new {@class = "text-danger"})
            </div>
        </div>
        <div>Внешний осмотр:</div>
        <div class="form-group">
            @Html.Label("Конфигурация лица", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfigurationFace, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ConfigurationFace, "", new {@class = "text-danger"})
            </div>
        </div>
        <div>Состояние:</div>
        <div class="form-group">
            @Html.Label("кожных покровов, красной каймы", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.SkinCovering, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.SkinCovering, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.Label("регионарных лимфатических узлов", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.LymphNodes, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.LymphNodes, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.Label("височно-нижнечелюстного сустава", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.TemporalJoint, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.TemporalJoint, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Прикус", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SkinCovering, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Отмена", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
