@using Microsoft.AspNet.Identity.EntityFramework
@model DentalConsulting.Models.AppUsers
@{
    ViewBag.Title = "UsersList";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}

<h2>Список пользователей</h2>
<table class="table">
    <tr>
        <th>Имя</th>
        <th>Email</th>
    </tr>
    @foreach (var user in Model.AppUser)
    {
       var identityUser = Model.IdentityAppUser.Find(u => u.Id == user.LoggedUserId);
       IdentityRole identityRole =null;
        try
        {
        var roles = identityUser.Roles.Single();
        identityRole = Model.AppRoles.Find(r => r.Id == roles.RoleId);
        }
        catch (Exception ex)
        {
            var message = ex.Message;
        }
        
        <tr>
            <td>@user.UserName</td>
            <td>@Model.IdentityAppUser.Find(u=>u.Id==user.LoggedUserId).Email</td>
            <td>@if(identityRole != null) {  
                @identityRole.Name}
            </td>
            <td>
               @if (identityRole!=null)
	{
		 @Html.ActionLink("Редактировать роль пользователя", "EditUserRole", new {userId = user.LoggedUserId, roleId = identityRole.Id})
    }
               else
                   {  @Html.ActionLink("Редактировать роль пользователя", "EditUserRole", new { userId = user.LoggedUserId, roleId = "" })}
            </td>
        </tr>
    }
</table>
@if (ViewBag.UsersList != null)
{
    foreach (var user in ViewBag.UsersList)
    {
        <p>@user</p>
    }
}
