@model DentalConsultingData.Article

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("К списку статей", "Index")
<h3>@Model.ArticleTitle</h3>
<p class="text-left">@Model.ArticleContent.ArticleText</p>
<p class="text-right">@Model.User.FullName()</p>
@Html.ActionLink("К списку статей","Index")
