@model IEnumerable<DentalConsultingData.Article>
@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @foreach(var item in Model)
            {
            <h3>@item.ArticleTitle</h3>

                if (item.ArticleContent.ArticleText.Length <= 200)
                {
                    <p class="text-left">
                        @item.ArticleContent.ArticleText
                    </p>
                    <p>@item.User.FullName()</p>
                }
                else
                    {
                    <p class="text-left"> @item.ArticleContent.ArticleText.Substring(0, 201) </p>
                    @Html.ActionLink("Подробнее>>","Detail",new{id=item.ArticleID})
                }
            }
    </div>

</div>